main {
    height: 500px;
    background-color: #d7d4d7;
    font-family: "Josefin Slab", sans-serif;
}

main h1 {
    font-size: 32px;
    font-weight: 700;
    color: #11110f;
}

main h4 {
    font-family: "Anta", sans-serif;
    font-size: 18px;
    color: rgb(7, 7, 43);
}

.profile_photo {
    width: 200px;
    height: auto;
    margin: auto;
    border-radius: 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}


/*  640-768    - tablet landscape */
@media all and (min-width: 640px) and (max-width: 768px) { 
 main h1 {
    font-size: 3.5rem;
    font-weight: 900;
}

 main {
    height: auto;
    padding: 40px 0;
}
}

/*  1024-768    - Desktop landscape */
@media all and (min-width: 769px) and (max-width: 1024px) { 
    main h1 {
    font-size: 3rem;
    font-weight: 900;
}

    main {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-box {
    width: 50%;
    padding: 50px;
}

.icon:hover {
    color: rgb(68, 161, 215);
}
}


@media all and (min-width: 1025px) and (max-width: 2000px) { 
    main {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.hero-box {
    width: 50%;
    padding: 50px;
}

main h1 {
    font-size: 5rem;
    font-weight: 900;
}

main h4 {
    font-size: 28px;
}

.profile_photo {
    width: 500px;
    height: auto;
    margin: auto;
    border-radius: 100%;
}

.icon:hover {
    color: rgb(68, 161, 215);
}
}