.skills {
    height: auto;
    background-color: #0e0408;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
}

.skill-header {
    background-color: #29131a;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family: "Anta";
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 18px;
}

.skill {
    width: 100px;
    padding: 10px 0;
    background: rgba(240, 235, 232, 0.24);
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(197, 183, 177, 0.19);
    margin: auto;
    box-shadow: rgba(75, 217, 242, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

