.projects {
    background-color: #0e0408;
}

.projects-container {
    background-color: #0e0408;
    padding: 50px 0;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    row-gap: 40px;
}

.project-container {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 20px;
    color: #fff;
    background: rgba(240, 235, 232, 0.24);
    border-radius: 16px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(197, 183, 177, 0.19);
}

.projects-header {
    font-size: 28px;
    font-family: "Anta", sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
}

.project-title-img-des {
    font-family: "Josefin Slab", sans-serif;
}

.project-title-img-des img {
    border-radius: 5px;
}

.project-title {
    font-family: "Anta";
    letter-spacing: 2px;
    font-size: 18px;
}

.project-des {
    font-size: 16px;
}

.project-links {
    display: flex;
    column-gap: 20px;
    font-family: "Anta", sans-serif;
    letter-spacing: 1px;
}

.project-live {
    border: 1px solid #fff;
    padding: 8px 30px;
    border-radius: 10px;
}

.project-github {
    border: 1px solid #fff;
    padding: 8px 30px;
    border-radius: 10px;
}

.link-icon {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.project-link-hover:hover {
    border: 1px solid #2766a8;
    padding: 8px 30px;
    border-radius: 10px;
    color: #2766a8;
}



/*  640-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px ) {

.project-container {
    width: 50%;
}

.projects-header {
    font-size: 32px;
}

.project-title-img-des img {
    border-radius: 5px;
}

.project-title {
    font-family: "Anta";
    letter-spacing: 2px;
    font-size: 24px;
}

.project-des {
    font-size: 18px;
}

.project-links {
    display: flex;
    column-gap: 20px;
    font-family: "Anta", sans-serif;
    letter-spacing: 1px;
}

.project-live {
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 10px;
}
}


@media all and (min-width: 1025px) and (max-width: 1280px) {

.projects-container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}

.project-container {
    width: 80%;
}
}


@media all and (min-width: 1281px) {
.projects {
    background-color: #0e0408;
    margin-top: 5rem;
}

.projects-container {
    background-color: #0e0408;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
}

.project-container {
    width: 80%;
}

.projects-header {
    font-size: 32px;
}

.project-title-img-des {
    font-family: "Josefin Slab", sans-serif;
}

.project-title-img-des img {
    border-radius: 5px;
}

.project-title {
    font-family: "Anta";
    letter-spacing: 2px;
    font-size: 24px;
}

.project-des {
    font-size: 20px;
}
}