header {
    height: 100px;
    background-color: #0e0408;
}


nav {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(221, 213, 213, 0.3);
    font-family: "Josefin Slab", sans-serif;
    position: fixed;
    z-index: 2;
    left: 40px;
}

.nav-link {
    border: transparent;
    padding: 4px;
    border-radius: 15px;
}


/*  640-768    - tablet landscape */
@media all and (min-width: 640px) and (max-width: 768px) {

nav {
    font-size: 20px;
}

 nav a:hover{
      
    color: rgb(68, 161, 215);

    }
}


/* 1024-768    - Desktop landscape */
/* @media all and (min-width: 769px) and (max-width: 1024px) { 
    nav {
    font-size: 24px;
}
} */

@media all and (min-width: 1025px) and (max-width: 2000px) { 
    nav {
    font-size: 24px;
}

    nav a:hover{
      
    color: rgb(68, 161, 215);

    }
}