.footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-header {
    font-family: "Anta", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}

.icon {
    font-size: 30px;
}

.footer-nav {
    height: 150px;
    background-color: #0e0408;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 50px;
}


.nav-link {
    font-family: "Josefin Slab", sans-serif;
    font-weight: 700;
}

.copy-rights {
    font-family: "Josefin Slab", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
